<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ws" value="ws://127.0.0.1:" />
    <add key="uripath" value="/bcdemo" />
    <add key="port" value="4646" />
    <add key="user" value="Forge" />
    <add key="bchainpath" value="c:\\test\\test2\\" />
  </appSettings>
</configuration>